$primary-color: #4CAF4F;
$secondary-color: #263238;
$info-color: #2194F3;
$sliver-color: #F5F7FA;
$Neutral-color: #4D4D4D;
$grey-color: #717171;
$gray-color: #D9DBE1;
$tint-color: #E8F5E9;
$foot-color: #3C464C;

$main-transition: 0.3s;